.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-color{
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid{
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  text-align: center;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-pic{
  height: 220px;
  border-radius: 50%;
}
.banner{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 20px;
}
.banner h1{
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.banner hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner p{
  color: white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
}

.social-media{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-media i{
  color: white;
  font-size: 6em;
  padding: 10px;
}